<% provide(:title, "About") %>
<h1 id="aboutheader">Welcome to Bulk.</h1>
<p id="aboutdescription">
  We live in a world where the rising costs of living are largely due to the rapidly increasing prices of consumer products. <br> <br>
  Bulk is a community marketplace that allows users to easily browse and post bulk purchase opportunities at prices cheaper than street prices. <br> <br>
  Just sign up, log in and browse through product opportunities and click on the join button if you would like to be part of the bulk purchase opportunity.


</p>
