<% provide(:title, "Contact") %>
<h1 id="contactheader">Contact</h1>
<p id="contentdescription">
  For any questions, please contact us @ <br> <br>
  GERALDANGW@GMAIL.COM <br> <br>
  +6598800333
</p>
